.calculator {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.display {
    font-size: 24px;
    margin-bottom: 10px;
    border : 1px solid: #CCC;
    border-color: #F1A3AD;
    padding: 5px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.number {
    background-color: #FFDAE5;
}

.operator {
    background-color: #F1A3AD;
    color: white;
}

button:hover {
    background-color: #FFF7FF;
    color: #F1A3AD;
}
